* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  /**/
  background-color: rgb(22, 1, 24);
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
}

input,
button {
  border: none;
  outline: none;
}

li {
  text-indent: 0;
  list-style-type: none;
}

.hidden {
  display: none;
}

:root {
  --effect-color: rgb(100, 7, 88);
  --secondary-color: #3500f5;
  --text-color: white;
}

header {
  padding: 2rem;
  font-size: 3rem;
  font-weight: 600;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--effect-color);
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
}

.newItemInput {
  border: 2px solid var(--secondary-color);
  /* padding: 10px 8px; */
  color: var(--text-color);
  background-color: rgb(22, 1, 24);
}

form button {
  width: auto;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--text-color);

  font-weight: 600;
  border: 2px solid var(--secondary-color);
  transition: all 0.3s ease;
}

.disabledBtn {
  color: gray;
}

form button:hover {
  transition: ease-in 0.4s;
  // border: 2px solid var(--effect-color);
  background-color: var(--effect-color);
}

.todoContainer {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.itemsList {
  width: 500px;
}

.item {
  margin: 0.5rem;
  padding: 0.75rem;
  background-color: #18355a;
  color: var(--text-color);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5 ease;
  border-bottom: 3px solid var(--secondary-color);
}

.item:hover {
  border-bottom: 3px solid var(--effect-color);
  transition: ease-in 0.7s;
}

.item li {
  flex: 1;
}

.btnDel,
.btnMark {
  background: red;
  width: 50px;
  height: 25px;
  margin-left: 5px;
  color: var(--text-color);
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  font-weight: 600;
  margin-top: 2px;
  opacity: 0.5;
}

.btnMark {
  background-color: green;
}

.btnMark:hover,
.btnDel:hover {
  opacity: 1;
  transition: 0.6s;
}

.newItem {
  padding: 0rem 0.5rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.disappear {
  opacity: 0;
  transition: 1s ease-out;
}
