* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  /**/
  background-color: rgb(22, 1, 24);
}

input,
button {
  border: none;
  outline: none;
}

li {
  text-indent: 0;
  list-style-type: none;
}

.hidden {
  display: none;
}

.flexReverse {
  flex-direction: row-reverse;
}
:root {
  --effect-color: rgb(100, 7, 88);
  --secondary-color: #3500f5;
  --text-color: white;
}

.flexboxContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  color: var(--secondary-color);
}

.flexInput {
  width: 400px;
  align-self: center;
  padding: 10px;
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
  justify-content: space-between;
  height: 60px;
  border: 3px solid var(--secondary-color);
  border-bottom: none;
  border-radius: 15px 15px 0 0;
}

.newItemInput {
  border: 3px solid var(--secondary-color);
  padding: 10px 8px;
  width: 300px;
  color: var(--text-color);
  background-color: rgb(22, 1, 24);
}

.newItemInput:focus {
  border: 3px solid var(--effect-color);
  transition: 0.6s;
}

.submit {
  width: 60px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

.submit:hover {
  transition: ease-in 0.4s;
  background-color: var(--effect-color);
}

.items {
  width: 400px;
  padding: 10px;
  border: 3px solid var(--secondary-color);
  border-top: none;
  border-radius: 0 0 15px 15px;
  padding-bottom: 10px;
}

.flexItem {
  width: auto;
  height: auto;
  margin: 5px;
  border-bottom: 3px solid var(--secondary-color);
  background-color: #18355a;
  padding: 15px 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}

.flexItem:hover {
  border-bottom: 3px solid var(--effect-color);
  transition: ease-in 0.7s;
}

.flexItem .item-text {
  align-self: center;
}

.editInput {
  width: auto;
  height: auto;
  float: left;
  color: white;
  background-color: #18355a;
  border: 2px solid var(--secondary-color);
  padding: 0px 5px;
}

.btnsOpt {
  display: flex;
  flex-direction: row-reverse;
}

.btnsOpt button {
  width: 50px;
  margin-left: 5px;
  height: auto;
  font-size: 1em;
  color: var(--text-color);
  cursor: pointer;
  padding: 1px;
  font-weight: 600;
  margin-top: 2px;
}

.btnsOpt .btnEdit {
  background-color: green;
  opacity: 0.6;
}

.btnsOpt .btnEdit:hover {
  opacity: 1;
  transition: 0.6s;
}

.btnsOpt .btnSave {
  background-color: green;
  opacity: 0.6;
}

.btnsOpt .btnSave:hover {
  opacity: 1;
  transition: 0.6s;
}

.btnsOpt .btnDelete {
  background-color: red;
  opacity: 0.6;
}

.btnsOpt .btnDelete:hover {
  opacity: 1;
  transition: 0.6s;
}
